*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    background-color: lightgray;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.form{
    position: relative;
    width: 350px;
    height: 370px;
    background-color: white;
    box-shadow: rgba(red, green, blue, alpha);
    border-radius: 8px;
}
.form-header{
    border-radius: 8px 8px 0 0;
    background-color: rgb(red, green, blue);
    padding: 10px;
    text-align: center;
}

.form-body{
    padding: 20px;
}
a{
    text-decoration: none;
    color: rgb(6,45,88);
    font-size: 18px;
}
.field{
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #c7c1c1;
    outline: none;
    border-radius: 30px;
    margin: 10px 0;
}

button{
    padding: 8px 20px;
    border: none;
    outline: none;
    width: 100%;
    background-color: rgb(29,93,136);
    color: white;
    border-radius: 30px;
    font-size: 20px;
}
.forget{
    float: right;
}
.options{
    padding: 0 10px;
    margin: 15px 0 25px;
}
.form-footer{
    text-align: center;
}
.remember{
    margin-right: 5px;
}
